<div class="responsive-inline-form">
  <div class="form-item">
    <app-season-select
      [value]="year()"
      (seasonChange)="onSearchYear($event)"
      [allowClear]="true">
    </app-season-select>
  </div>

  <div class="form-item">
    <label class="form-label">Nombre/Apellido:</label>
    <nz-input-group nzSearch [nzAddOnAfter]="suffixBtn">
      <input
        nz-input
        #q
        placeholder="Nombre O Apellido (≥4)">
    </nz-input-group>
    <ng-template #suffixBtn>
      <button
        nz-button
        nzType="primary"
        nzSearch
        (click)="onSearchName(q.value)">
        <span nz-icon nzType="search"></span>
      </button>
    </ng-template>
  </div>
</div>
